@model Tvitter.Model.Entities.User

@{
    ViewData["Title"] = "EditProfile";
}


<h1>EditProfile</h1>
<div>
    <a asp-action="Index">Back</a>
</div>
<hr />
<div class="row">
    <div class="col-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About" class="form-control"> </textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input type="date" asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProfileBackgroundImageUrl" class="control-label"></label>
                <input asp-for="ProfileBackgroundImageUrl" class="form-control" />
                <span asp-validation-for="ProfileBackgroundImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureUrl" class="control-label">Profile Picture</label><br />
                <input type="file" name="files" accept="image/*" />
                <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select asp-for="gender" class="form-control">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group mb-5">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
