<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tvitter.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header class="mb-2 d-flex " >
        <div class="col-3" id="wrapper" style="position:fixed;">
            <!-- Sidebar-->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Tvitter by yunus</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action bg-light" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-controller="Home" asp-action="Discover">Discover</a>
                    <a 
                       class="list-group-item list-group-item-action bg-light" asp-controller="Notification" asp-action="Index">Notifications <b>@TempData["NewNotificationCount"]</b> 
                    </a>
                    <a class="list-group-item list-group-item-action bg-light" href="#!">Messages</a>
                    <a class="list-group-item list-group-item-action bg-light" href="/@(User.FindFirst("Username").Value)">Profile</a>
                </div>
            </div>
            <!-- Page Content-->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex mb-5">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse d-flex justify-content-start" style="flex-direction:column">
                        <div class="input-group d-flex justify-content-center">
                            <form asp-action="UserProfile" asp-controller="Profile" method="post">
                                <div class="form-outline d-flex">
                                    <input type="search" class="form-control" placeholder="Search by username" name="username" />
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div>
                            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@(User.FindFirst("Username").Value)</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
        <div class="col-9 mb-3" style="left:25%">
            <div class="row">
                <div class=" col-9 container mb-3">
                    @RenderBody()
                </div>
                <div class="d-flex col-3 mx-auto flex-column">
                    <div class="mb-3">
                        @await Component.InvokeAsync("Trends")
                    </div>
                    <div class="mb-3">
                        @await Component.InvokeAsync("FollowSuggestion")
                    </div>
                </div>
                
            </div>

        </div>

    </header>

    <footer class="footer text-muted mt-5">
        <div class="container" align="center">
            &copy; 2021 - Tvitter.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
